html {
  box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
}


body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: $text-primary;
    background-color: $background-secondary;
}

header {
    height: 108px;
    background-color: $colorwheel-primary;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;

    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
}

