header .group,
.breadcrumbs,
.hero + div,
.category-links .group,
.slider-products .group,
.local-hero .group,
.category-teaser .group {
    max-width: $width-max;
    margin: 0 auto;
    padding: 1em  $width-base;

    @media (max-width: 1000px) {
        padding: 0 $width-base / 5;
    }
}

header .group {
    padding-top: $width-base/2;
    padding-bottom: $width-base/2;
}

.breadcrumbs {
    padding-top: $width-base;
    padding-bottom: $width-base;
    @media (max-width: 1000px) {
        display: none; 
    }
}

.hero {
    + div {
        margin-top: -256px;
    }
}

