.title,
.title-subtitle {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    font-weight: bold;
    color: $text-secondary;
}

.title {
    font-size: 4.5em;
    margin: 0;
    @media (max-width: 1000px) {
        font-size: 2.5em;
    }
}

.title-subtitle {
    font-size: 1.75em;
}

.caption {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 0.81em;
    font-weight: bold;
    color: $text-tertiary;
    letter-spacing: 0.02em;
    -webkit-font-smoothing: antialiased;
}

.lead {
    font-size: 1.5em;
    line-height: 1.3;   
}
