$colorwheel-primary: #4FCADC;
$colorwheel-secondary: #F34046;

$background-primary: #FFFFFF;
$background-secondary: #F1F5F7;
$background-newsletter: #FFDC2D;

$text-primary: #242424;
$text-secondary: #FFFFFF;
$text-tertiary: #9C9C9C;

$btn: darken($background-secondary, 10%);
$btn-border: darken($btn, 10%);
$btn-highlight: darken($btn, 10%);

$btn-primary: #E5264D;
$btn-primary-border: darken($btn-primary, 20%);
$btn-primary-highlight: darken($btn-primary, 20%);

$category-computer: #F34046;
$category-ebook-reader: #4FCADC;

$width-max: 1188px; 
$width-base: 2em; 
