<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Suikerwater</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    {% block header %}

    <header>
        <div class="group">
            <svg class="logo-brand" title="siroop logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 400">

                <circle class="logo-brand-dot" cx="398.285" cy="145.428" r="24" opacity="1">
                </circle>

                <path class="logo-brand-badge" d="M754.4,242.2h225.9c10.8,0,19.6,8.8,19.6,19.6v108
                c0,10.8-8.8,19.6-19.6,19.6H754.4c-10.8,0-19.6-8.8-19.6-19.6v-108C734.8,251,743.6,242.2,754.4,242.2z"></path>

                <path class="logo-brand-badge-text" d="M821.7,310.9v-0.2c3.8-1.6,6.8-5.1,6.8-11c0-8.1-6.1-14.2-16-14.2h-21.1v55h19.8
                c13.6,0,19.4-6.4,19.4-16.3C830.6,316.7,826.1,312.3,821.7,310.9z M797.9,291.4h13.4c6.8,0,10.8,3,10.8,8.6c0,5.5-3.4,8.6-10.8,8.6
                h-13.4V291.4z M810.3,334.5h-12.4v-20h12.6c9.1,0,13.7,2.5,13.7,9.7C824.1,331.7,819.2,334.5,810.3,334.5z M857.8,297.7
                c-11,0-19,8.5-19,22c0,13.5,8.2,22,19.3,22c9.1,0,14.7-5.2,17.4-10.6l-5.2-3.4c-1.5,2.8-4,8.2-12.4,8.2c-8.6,0-12.6-6.9-12.7-14.3
                h31.3v-1.9C876.5,305.7,868.8,297.7,857.8,297.7z M845.4,316.4c0.1-5.1,3.5-13,12.4-13c9,0,12.2,6.9,12.3,13H845.4z M894.9,288.6
                h-6.1v10.2h-6v5.7h5.8v23.8c0,7.8,3.1,12.1,11.2,12.1h3.5v-6.2h-3.1c-4.2,0-5.1-2-5.1-6.7v-23h10.2v-5.7h-10.3V288.6z M928.9,297.7
                c-9,0-14.5,5.3-15.7,12.3l5.8,1.6c1-4.6,3.6-8.2,10.1-8.2c6.3,0,8.7,2.9,8.7,6.2c0,4.1-4.5,5.3-11.9,7.1c-10.1,2.6-14,6.1-14,13
                c0,6.4,4.3,11.9,14.1,11.9c7.5,0,11.5-3.7,12.7-5.7h0.2v4.6h5.7v-28C944.5,301.8,938,297.7,928.9,297.7z M938.2,327.1
                c0,4.6-3.8,8.8-11.8,8.8c-6.2,0-8.2-2.7-8.2-6.5c0-3.5,1.7-5.7,9.2-7.7c8.6-2.4,10.1-3.8,10.7-4.9h0.2V327.1z"></path>

                <path class="logo-brand-body" d="M575.2,64.6c-45.3,0-82.1,36.2-82.1,80.7c0,44.5,36.8,80.7,82.1,80.7c45.3,0,82.1-36.2,82.1-80.7
                C657.4,100.8,620.5,64.6,575.2,64.6z M575.2,188.6c-23.2,0-42.2-19.4-42.2-43.3c0-23.9,18.9-43.3,42.2-43.3
                c23.2,0,42.1,19.4,42.1,43.3C617.4,169.2,598.5,188.6,575.2,188.6z M760.5,64.8c-16.2,0-36,4.4-49.8,20.5v-16h-38v210.9h38v-72
                c17.6,15.9,34.6,17.8,49.5,17.8c45.3,0,75.1-33.2,75.1-80.7C835.3,98.9,803.3,64.9,760.5,64.8z M754.8,188.6
                c-23.3,0-42.2-19.4-42.2-43.3c0-23.9,18.9-43.3,42.2-43.3c23.2,0,42.1,19.4,42.1,43.3C796.9,169.2,778,188.6,754.8,188.6z
                M283.2,71.7c-5.7,3.5-10,8.1-13,13.9h-0.6V69.4h-35.9V223h37.9v-84.3c0-23.4,8.8-35.1,26.5-35.1c3.7,0,7.7,0.8,12,2.3l5.8-36.5
                c-4.5-1.9-9.1-2.9-14-2.9C295.2,66.5,288.9,68.2,283.2,71.7z M86.5,132.6c-20.6-5.8-33.5-9.9-38.6-12.3c-5.1-2.4-7.7-5.7-7.7-10
                c0-3.9,2.2-7.2,6.6-10C51.1,97.5,57,96,64.4,96c9.5,0,16.7,2.1,21.7,6.4c5,4.3,8.8,10,11.5,17.4l31.5-9.6
                C120.4,80.1,98.7,65,64.1,65C46,65,31.8,69.7,21.4,78.9C11,88.2,5.8,99.2,5.8,112c0,11.4,4.2,20.5,12.5,27.4
                c8.3,6.9,21.5,12.8,39.3,17.8c1.9,0.6,4.8,1.3,8.5,2.3c13.6,3.9,22.5,6.9,26.8,9.1c4.3,2.2,6.4,5.5,6.4,10c0,5.4-2.8,9.6-8.3,12.6
                c-5.5,3-13,4.5-22.3,4.5c-20.4,0-32-10.7-34.7-32.2L0,172.3c2.3,15.3,9.3,28.2,20.8,39c11.6,10.7,28,16.1,49.4,16.1
                c20.4,0,36-4.9,46.8-14.6c10.8-9.7,16.2-20.8,16.2-33.2c0-11.6-3.3-21.1-9.8-28.6C116.9,143.5,104.6,137.4,86.5,132.6z M159.3,223
                h37.9V69.4h-37.9V223z M398.3,65c-45.2,0-81.9,36.1-81.9,80.5c0,17.7,6,34.1,15.8,47.4c14.4,19.7,66.1,67.3,66.1,67.3
                s51.1-47.5,65.8-67.1c10.5-14,16.1-29.5,16.1-47.6C480.2,101.2,443.5,65,398.3,65z M435.7,171.2c-7,11.4-37.4,41-37.4,41
                s-29.5-30.3-37-41.3c-5.3-7.7-7.7-16.2-7.7-25.9c0-24.3,20.1-44,44.8-44c24.7,0,44.8,19.7,44.8,44
                C443,154.9,440.9,162.7,435.7,171.2z M178.2,2c-13.4,0-24.4,10.9-24.4,24.5c0,13,11,23.9,24.4,23.9c13.7,0,24.4-10.9,24.4-23.9
                C202.6,12.9,191.9,2,178.2,2z"></path>
            </svg>
        </div>
        <nav>

        </nav>
    </header>
    
    {% endblock %}

    <main>
    {% block main %}{% endblock %}
    </main>

    {# {% block footer %} #}
    {#  #}
    {# <footer> #}
    {#     <section class="newsletter"></section> #}
    {#     <section class="footer"> #}
    {#         <ul> #}
    {#             <li>Lorem Ipsum</li> #}
    {#             <li>Lorem Ipsum</li> #}
    {#             <li>Lorem Ipsum</li> #}
    {#             <li>Lorem Ipsum</li> #}
    {#         </ul> #}
    {#         <ul> #}
    {#             <li>Lorem Ipsum</li> #}
    {#             <li>Lorem Ipsum</li> #}
    {#             <li>Lorem Ipsum</li> #}
    {#             <li>Lorem Ipsum</li> #}
    {#         </ul> #}
    {#         <ul> #}
    {#             <li>Lorem Ipsum</li> #}
    {#             <li>Lorem Ipsum</li> #}
    {#             <li>Lorem Ipsum</li> #}
    {#             <li>Lorem Ipsum</li> #}
    {#         </ul> #}
    {#         <ul> #}
    {#             <li>Lorem Ipsum</li> #}
    {#             <li>Lorem Ipsum</li> #}
    {#             <li>Lorem Ipsum</li> #}
    {#             <li>Lorem Ipsum</li> #}
    {#         </ul> #}
    {#     </section> #}
    {# </footer> #}
    {#  #}
    {# {% endblock %} #}
</body>
</html>
