{% extends 'base.html' %}

{% block main %}

<div class="hero">
    <nav class="breadcrumbs">
        <ul>
            <li>Startseite</li>
            <li>Computer & Elektronik</li>
            <li>Computer & Tablets</li>
        </ul>
    </nav>
</div>

<div>
    <span class="title-subtitle">Computer & Elektronik</span>
    <h1 class="title">Computer & Tablets</h1>
    <div class="grid-products">
        <ul>
            <li class="grid-products-item">
                <div>
                    <a href="">
                        <img src="/public/img/min/computer.jpg" alt="Computer">
                    </a>
                    <p>Lorem ipsum</p>
                    <p class="price">CHF 42.00</p>
                </div>
            </li>
            <li class="grid-products-item">
                <div>
                    <a href="">
                        <img src="/public/img/min/computer.jpg" alt="Computer">
                    </a>
                    <p>Lorem ipsum</p>
                    <p class="price">CHF 42.00</p>
                </div>
            </li>
            <li class="grid-products-item">
                <div>
                    <a href="">
                        <img src="/public/img/min/computer.jpg" alt="Computer">
                    </a>
                    <p>Lorem ipsum</p>
                    <p class="price">CHF 42.00</p>
                </div>
            </li>
            <li class="grid-products-item">
                <div>
                    <a href="">
                        <img src="/public/img/min/computer.jpg" alt="Computer">
                    </a>
                    <p>Lorem ipsum</p>
                    <p class="price">CHF 42.00</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="category-links">
    <div class="group">
        <span class="caption">Unsere Kategorien im Bereich Computer & Tablets</span>
        <nav>
            <ul>
                <li><a href="">Lorem Ipsum<span>(42)</span></a></li>
                <li><a href="">Lorem Ipsum<span>(42)</span></a></li>
                <li><a href="">Lorem Ipsum<span>(42)</span></a></li>
                <li><a href="">Lorem Ipsum<span>(42)</span></a></li>
                <li><a href="">Lorem Ipsum<span>(42)</span></a></li>
                <li><a href="">Lorem Ipsum<span>(42)</span></a></li>
                <li><a href="">Lorem Ipsum<span>(42)</span></a></li>
                <li><a href="">Lorem Ipsum<span>(42)</span></a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="slider-products">
    <ul class="slider-products-pagination">
        <li>iPad & Tablet</li>
        <li>Laptop</li>
    </ul>
    <div class="group">
        <a class="teaser" href="">
            <span class="title-subtitle">iPad & Tablet</span>
        </a>
        <div class="grid-products">
            <ul>
                <li class="grid-products-item">
                    <div>
                        <a href="">
                            <img src="/public/img/min/computer.jpg" alt="Computer">
                        </a>
                        <p>Lorem ipsum</p>
                        <p class="price">CHF 42.00</p>
                    </div>
                </li>
                <li class="grid-products-item">
                    <div>
                        <a href="">
                            <img src="/public/img/min/computer.jpg" alt="Computer">
                        </a>
                        <p>Lorem ipsum</p>
                        <p class="price">CHF 42.00</p>
                    </div>
                </li>
                <li class="grid-products-item">
                    <div>
                        <a href="">
                            <img src="/public/img/min/computer.jpg" alt="Computer">
                        </a>
                        <p>Lorem ipsum</p>
                        <p class="price">CHF 42.00</p>
                    </div>
                </li>
                <li class="grid-products-item">
                    <div>
                        <a href="">
                            <img src="/public/img/min/computer.jpg" alt="Computer">
                        </a>
                        <p>Lorem ipsum</p>
                        <p class="price">CHF 42.00</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="local-hero">
    <div class="group">
        <div class>
            <span class="caption">Lokale Händler</span>
            <p class="lead">
            Du vermisst deinen Lieblingshändler? Schick uns deine Vorschläge und wir geben unser Bestes, deine Lieblingsprodukte auf siroop.ch aufzunehmen! 
            </p>
            <a class="btn btn-primary" href="">jetzt vorschlagen</a>
        </div>
        <div>
            <img src="/public/img/min/siroop-become-merchant.png" alt="Lokaler Händler">
        </div>
    </div>
</div>

<div class="category-teaser">
    <div class="group">
        <a class="teaser-box computer" href=""><span class="title-subtitle">Computer</span></a>
        <a class="teaser-box ebook-reader" href=""><span class="title-subtitle">eBook Reader</span></a>
    </div>
</div>

<section class="text-seo">
    <h1>Hochwertige Computer und Tablets bei siroop</h1>
    <p>
        Computer und Tablets sowie Laptops sind inzwischen neben Smartphones längst zu den wichtigsten digitalen Weggefährten unserer Tage geworden – für kaum jemanden ist es noch vorstellbar, dauerhaft ohne sie auszukommen. Jedes Gerät ist jedoch nur ein „Lebensabschnittsgefährte“: nach vier oder fünf Jahren endet bei vielen die Lebensdauer, oder sie sind hoffnungslos veraltet und schlicht zu langsam für den gestiegenen Anspruch. Ist das alte Gerät nicht mehr nutzbar, muss schnell ein neues Modell als Ersatz her. Bei siroop findest du ein breites Angebot an Computern und Tablets, E-Book-Readern, Monitoren, externen Festplatten und weiterem Zubehör. Der siroop-Marktplatz bietet dir ausschliesslich Produkte von lokalen, regionalen und nationalen Händlern: Bestelle deinen nächsten PC oder Laptop online und du erhältst ihn einfach und schnell nach Hause geliefert.
    </p>
    <h2>Schoss oder Schreibtisch? Laptops vs. Desktop-PCs</h2>

    <p>Mobile Computer wie Laptops oder Tablets liegen schon seit einiger Zeit im Trend, doch auch die guten alten Desktops-PCs sind noch lange nicht vergessen. Laut Experten wird sich dies, trotz des technischen Fortschritts, auch in absehbarer Zeit nicht ändern. Denn beide Varianten bieten Vorteile. Zur Orientierung, welches Modell für dich persönlich das Richtige ist, haben wir dir die wichtigsten Aspekte zusammengestellt:</p>

    <p>Der wohl grösste Vorteil eines Laptops ist die uneingeschränkte Mobilität, die er ermöglicht. Aufgrund seiner kompakten Bauweise und geringen Gewichts ist ein Laptop leicht zu transportieren und dank des Akkus überall einsetzbar – ob unterwegs oder innerhalb der eigenen vier Wände. Alle nötigen Komponenten für Bedienung und Multimedia-Vergnügen, sprich: Display, Touchpad, Lautsprecher, Tastatur und Kamera, sind bereits im Gerät enthalten und müssen nicht extra angeschlossen werden. Allerdings ist zu beachten, dass die Akkulaufzeit begrenzt ist. Nach mehreren Stunden sind auch die mobilen Rechner auf eine Stromversorgung angewiesen.</p>

    <p>Inzwischen bietet der Markt auch leistungsstarke Tablets, die sich durchaus mit den altbewährten Laptops messen können. Hast du also den Anspruch, dein Gerät unterwegs, in der Uni oder bei Freunden zu verwenden, eignet sich sowohl ein Laptop als auch ein hochwertiges Tablet, beispielsweise von Lenovo, hervorragend. Für ein noch angenehmeres, schnelleres Tippen bekommst du bei siroop sogar die passende Tastatur zum Tablet dazu.</p>

    <p>Spätestens, wenn es zu technischen Erweiterungen kommt, zeigt sich, wie komplex Laptops sind: Eigenmächtige Eingriffe sind für Laien nahezu unmöglich und erfordern daher einen Fachmann oder das Einschicken des Laptops zum Hersteller oder Service-Partner. Ein Desktop-PC hingegen lässt sich mit Produkten verschiedenster Hersteller nachrüsten und erweitern. Hinzu kommt, dass ein Komponentenwechsel für fast jeden machbar ist – selbst, ohne über ein tieferes Technikwissen zu verfügen.</p>

    <p>Auch in Sachen Leistung hat der PC im Allgemeinen noch immer die Nase vorne – das wird vermutlich auch weiterhin so bleiben, denn Fortschritte bei der Rechenleistung betreffen nahezu immer Laptops und PCs gleichermassen und aufgrund der beengten Platzverhältnisse in einem Notebook sind entsprechend leistungsstarke Komponenten teurer als bei einem Desktop-Computer. Als Richtwert kann gelten: Ein High-End-Notebook hat eine Performance, die jener eines mittelteuren stationären PCs entspricht. Dafür gibt es gleich mehrere Ursachen, etwa den Energieverbrauch: Je höher die Leistung, desto höher ist die Energieaufnahme – und Laptops sollen ja gerade nicht so viel Strom verbrauchen, um lange ohne Anbindung ans Stromnetz laufen zu können. Zum anderen bedeutet hohe Leistung bei grösserem Energieverbrauch auch stärkere Wärmeentwicklung, und die erfordert Fläche, um an die Umgebung abgegeben werden zu können – bei einem Notebook kaum vorhanden.</p>

    <p>Und zu guter Letzt muss für leistungsstarke PC-Parts wie Grafikkarten, RAM oder zusätzliche Laufwerke natürlich auch einfach der entsprechende Platz im Chassis vorhanden sein – bei einem Laptop, das möglichst klein und leicht sein soll, eher die Ausnahme. Willst du also viele aktuelle Games in maximalen Grafikdetails zocken, wirst du in der Regel nicht auf einen PC verzichten wollen, denn die Erweiterungsmöglichkeiten sowie die schnellere Hardware für weniger Geld machen reibungsloses Spielevergnügen möglich. Ziehst du trotzdem einen Laptop vor, solltest du etwas tiefer in die Tasche greifen, um auch morgen noch Spass zu haben. Dabei solltest du besonders auf einen schnellen Grafikchip achten.</p>

    <p>Punkten kann der Gaming-Laptop dann wieder beim Stromverbrauch: Je nach Modell verbraucht ein PC rund zwei- bis fünfmal mehr Energie als ein Laptop. Klicke dich durch das breite Angebot an Computern und Tablets bei siroop und bestelle deinen Favoriten – ob nun PC, Laptop oder Tablet – online.</p>

    <h2>Hilfreiches Zubehör für Computer und Tablets</h2>

    <p>Das Angebot von siroop ist keinesfalls erschöpft mit hochwertigen Laptops, Tablets und PCs von namhaften Marken, wie Apple, Acer, HP oder Lenovo. Zusätzlich zu den Geräten bekommst du auch eine umfangreiche Auswahl an Zubehör. Dazu gehören unter anderem Schutzabdeckungen und Tastaturen für Tablets, Charger, Eingabestifte und vieles mehr. Neben Computern bekommst du ausserdem E-Book-Reader von Kobo und Tolino, die dir dank fortgeschrittener Technik das Leseerlebnis versüssen.</p>

    <p>Wir setzen uns dafür ein, dass du all deine Lieblingsprodukte rund um die Themen Computer und Tablets bei uns findest. Vermisst du deinen Lieblingshändler bei siroop? Kein Problem: Nenn uns einfach möglichst konkret deine Wünsche und wir setzen uns dafür ein, deinen Lieblingshändler auf unserer Plattform aufzunehmen – denn bei siroop stehst du im Mittelpunkt.</p>

</section>

{% endblock %}
