.breadcrumbs {
    li {
        color: $text-secondary;
        font-size: 0.81em;
        text-transform: uppercase;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
    }

    li:after {
        content: "\002F";;
        color: white;
        padding: 0 8px;
    }

    li:last-of-type:after {
        content: "";;
        color: white;
        padding: 0 8px;
    }
}
