.btn {
    border-radius: 2px;
    border: 1px solid $btn-border;
    text-align: center;
    color: #242424;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 20px;
    line-height: 1.4;
    background-color: $btn;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: $btn-highlight;
    }
}

.btn-primary {
    color: white;
    background-color: $btn-primary;
    border-color: $btn-primary-border;

    &:hover {
        background-color: $btn-primary-highlight;
    }
}
