.category-links {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 1.125em;
    background-color: $background-primary;

    ul {
        flex-wrap: wrap;
        line-height: 2em;
    }

    li {
        margin-right: 32px;
    }

    a {
        text-decoration: none;
        color: $text-primary; 

        &:hover{ 
            span {
                color: $colorwheel-primary;
            }
        }

        span {
            font-size: 14px;
            padding: 0 0 0 15px;
            color: $text-tertiary;
            transition: color 0.2s ease;
        }
    }
}

.category-teaser {
    background-color: $background-primary;

    .group {
        display: flex;
        @media (max-width: 1000px) {
            flex-wrap: wrap; 
        }

        .teaser-box {
            flex: 1;
            display: flex;
            flex-direction: column-reverse;
            height: 630px;
            padding: 1em;
            margin: 1em;

            @media (max-width: 1000px) {
                flex: 100%;
                height: 450px;
            }

            &.computer {
                background-color: $colorwheel-primary; 
                @media (max-width: 1000px) {
                    flex: 100%;
                    border-left: 25px solid lighten($colorwheel-primary, 10%);
                    border-right: 60px solid lighten($colorwheel-primary, 10%);
                }
            }

            &.ebook-reader {
                background-color: $colorwheel-secondary; 
                @media (max-width: 1000px) {
                    flex: 100%;
                    border-left: 25px solid lighten($colorwheel-secondary, 10%);
                    border-right: 60px solid lighten($colorwheel-secondary, 10%);
                }
            }
        }
    }
}
