.grid-products {

    text-align: center;

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }

    li.grid-products-item {
        width: 25%;
        list-style: none; 
        @media (max-width: 1000px) {
            width: 50%; 
        }

        > div {
            margin: 1em;
            padding: 1em;
            background-color: $background-primary;
        }
    }

    img {
        margin: 0 auto;
        display: block;
        max-width: 170px;
        width: 100%;
    }

    .price {
        color: $text-tertiary;
    }
}
