.hero {
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.4) 100%), url(/public/img/min/fr020200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40vw;
    min-height: 400px;
}
