.local-hero {

    background-color: $background-primary;

    .group {
        display: flex; 
        @media (max-width: 1000px) {
            flex-wrap: wrap;
        }

        div {
            margin: 1em 0 0 0; 
        }

        div:first-child {
            flex: 1;
            padding-left: 200px;
            @media (max-width: 1000px) {
                padding-left: initial; 
            }
            @media (max-width: 500px) {
                flex: initial;
            }
        }

        div + div {
            flex: 0.8;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 1000px) {
                padding-left: initial; 
            }
            @media (max-width: 500px) {
                margin: 2em 0 0 0; 
                flex: initial;
            }
        }
    }

    img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

}
