.slider-products {

    .slider-products-pagination {
        display: flex;
        justify-content: center;
        list-style: none;

        li {
            margin: 0 1em; 
            padding: 0.5em;
            border-bottom: 1px solid $text-primary;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.81em;
        }
    }

    .group {
        display: flex;
        flex-wrap: nowrap;

        @media (max-width: 1000px) {
            flex-wrap: wrap;
        }

        .teaser {
            width: 50%; 

            @media (max-width: 1000px) {
                width: 100%; 
            }

            &:first-child {
                display: flex;
                flex-direction: column-reverse;
                background-color: $colorwheel-primary;
                padding: 10px;
                margin: 1em;
                background-clip: padding-box;
                border-left: 32px solid $colorwheel-secondary;

                @media (max-width: 1000px) {
                    border-right: 119px solid #F34046;
                    height: 280px; 
                }
            }
        }
    }

    .grid-products .grid-products-item {
        width: 50%; 
    }
}
