.text-seo {
    background-color: $background-primary;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em  $width-base;

    @media (max-width: 1000px) {
        padding: 0 $width-base / 5;
    }

    h1, p {
        max-width: 650px; 
    }
}
